// Navigation code here

    nav {
        margin: 0 auto;
        display: flex;
        justify-content: center;
        padding: 15px 18% 10px 18%;
        width: 100%;
       

        a {
            text-decoration:none;
            color:@main-font-color;
            font-size:1.6rem;
            margin: 3% 3% 3%;
            .flex-styled(center, center);
            
            &:hover{
                color:rgb(252,187,88);
                cursor:pointer;
            }
        }
    }
